<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://code.alibabatech.com/schema/dubbo
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<dubbo:service interface="com.idianyou.lifecircle.service.LifeCircleChannelDubboService" ref="lifeCircleChannelDubboServiceImpl"></dubbo:service>
	<dubbo:service interface="com.idianyou.lifecircle.service.LifeCircleContentPublishDubboService" ref="lifeCircleContentPublishDubboServiceImpl"></dubbo:service>
	<dubbo:service interface="com.idianyou.lifecircle.service.GenerateUniqueIdDubboService" ref="generateUniqueIdDubboServiceImpl"></dubbo:service>
	<dubbo:service interface="com.idianyou.lifecircle.service.AppListDubboService" ref="appListDubboServiceImpl"></dubbo:service>
	<dubbo:service interface="com.idianyou.lifecircle.service.LifeCircleContentDubboService" ref="lifeCircleContentDubboServiceImpl"></dubbo:service>
	<dubbo:service interface="com.idianyou.lifecircle.service.QuestionRedpacketDubboService" ref="questionRedpacketDubboServiceImpl"></dubbo:service>
	<dubbo:service interface="com.idianyou.lifecircle.service.LifeShopsGoodsESDubboService" ref="lifeShopsGoodsESDubboServiceImpl"></dubbo:service>

</beans>