<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://code.alibabatech.com/schema/dubbo
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	
    <!-- 提供方应用信息，用于计算依赖关系 --> 
    <dubbo:application name="lifecircle_base" />
  
    <!-- 使用zookeeper注册中心暴露服务地址 即zookeeper的所在服务器ip地址和端口号 -->  
  	<dubbo:registry address="${dubbo.registry.address}" />
 
    <!-- 用dubbo协议在20880端口暴露服务 -->  
    <dubbo:protocol name="${dubbo.protocol.name}" port="${dubbo.protocol.port}" />
 	
 	<import resource="spring-dubbo-consumer.xml"/>
	<import resource="spring-dubbo-provider.xml"/>
   
   	<!-- delay 延迟暴露机制   timeout 超时时间  accepts 服务提供方最大可接受连接数   retries 重试次数 -->
   	<dubbo:provider delay="-1" timeout="6000" accepts="2000" threadpool="cached" threads="800" retries="0"/>

	<dubbo:consumer check="false"/>

	<dubbo:annotation package="com.idianyou"/>
</beans>