<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://code.alibabatech.com/schema/dubbo
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--<dubbo:reference interface="com.idianyou.business.cpa.service.SysUcenterUserMainService" id="sysUcenterUserMainService" check="false"></dubbo:reference>-->
    <dubbo:reference interface="com.chigua.session.spi.service.SessionService" id="sessionService" check="false"></dubbo:reference>

    <dubbo:reference interface="com.idianyou.lifecircle.service.LifeCircleChannelDubboService" id="lifeCircleChannelDubboService" check="false"></dubbo:reference>
    <dubbo:reference interface="com.idianyou.lifecircle.service.LifeCircleContentPublishDubboService" id="lifeCircleContentPublishDubboService" check="false"></dubbo:reference>
    <dubbo:reference interface="com.idianyou.lifecircle.service.AppListDubboService" id="appListDubboService" check="false"></dubbo:reference>
    <dubbo:reference interface="com.idianyou.lifecircle.service.QuestionRedpacketDubboService" id="questionRedpacketDubboService" check="false"></dubbo:reference>

</beans>